#root {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 50%;
}

#preview {
  width: 50%;
  margin: 10px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid black;
  background-color: white;
}

* {
  color: #414147;
}

html {
  background-color: #e6e6fa;
}

h1 {
  text-align: center;
}
